/**
 * @file index.scss
 * @author: cdlichang1
 * @describe: 
 * @create: 2019-09-05 20:21 
 */
.search-input{
  border: 1px solid #ccc;
  width: 100%;
}

.todo-add-input{
  border: 1px solid #ccc;
  width: 80%;
  height: 20px;
  line-height: 20px;
}
