/**
 * @file index.scss
 * @author: cdlichang1
 * @describe: 
 * @create: 2019-09-06 10:48 
 */
.rank-head-part{
  padding: 20px;
}
.rank-head-top{
  .rank-head-logo{
  }
  .rank-head-title{
    color: white;
    font-size: 32px;

  }
}
.rank-head-bottom{

}

